
main{
  position: relative;
  height: auto;
  width: 100%;
  background-color: $main-primary-color;
  color: $main-third-color;;

  @import "../sections/main/about";
  @import "../sections/main/skills";
  @import "../sections/main/projects";
  @import "../sections/main/contact";


}