hr.hr-skills{
  @include hr-custom($main-hr-skills-color);
}


.section-model-2 {

  background-color: $main-secondary-color;
  width: 100%;
  height: auto;

  header {
    text-align: center;
    font-family: $ubuntu-font;
    padding-bottom: 20px;
    width: 80%;
    position: relative;
    left: 50%;
    margin-left: -40%;
    font-size: 13px;
    margin-bottom: 22px;

    @include main-section-h2;

    h2{
      color: $main-primary-color;
      display: inline-block;

    }

  }

  .container {

    @include container;
    padding-bottom: 20px;

    .list-skills{

      ul{
        list-style: none;
        width: 80%;
        padding: 0;
        margin: 0;

        li{
          width: 100%;
          margin-bottom: 30px;

          .tec-icon{
            float: left;
            width: 50px;
            text-align: left;
          }

          .tec-progress{
            float: right;
            width: 70%;
            text-align: left;

            .bar-total{
              width: 100%;
              background-color: $main-primary-color;
              height: 26px;
              margin-top: 13px;

              .bar-use{
                height: 26px;
                background-color: #d8d0d0;
              }

              .bar-use-number{
                background-color: #b4b0b0;
                line-height: 26px;
                width: 30px;
                color: #fff;
                text-align: center;
                float: right;
              }

              $i: 0;
              @while $i <= 10 {
                .bar-use-percent-#{$i} {
                  @extend .bar-use;
                  width: (10%) * $i;
                }
                $i: $i + 1;
              }

            }
          }

          p{
            text-align: left;
            width: 100%;
            clear: both;
            color: $main-primary-color;
            font-size: 18px;
            padding-top: 3px;
          }
        }
      }
    }

    .list-skills-1{
      @extend .list-skills;
      @include breakpoint($tablet) {
        @include span(6 of 12 first);
        border-right: 2px solid rgba(255, 255, 255, 0.3);
      }

      @include mobile-landscape{
        @include span(6 of 12 first);
        border-right: 2px solid rgba(255, 255, 255, 0.3);
      }
    }

    .list-skills-2{

      @extend .list-skills;

      @include breakpoint($tablet) {
        @include span(6 of 12 first);
        ul{
          float: right;
        }
      }

      @include mobile-landscape{
        @include span(6 of 12 first);
        ul{
          float: right;
        }
      }

    }


  }
}